.hero {
  min-height: 100vh;
  padding: 120px 80px 80px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    position: absolute;
    width: 300px;
    aspect-ratio: 9/16;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid var(--navy);
  }

  .image_1 {
    top: 140px;
    left: 50px;
  }

  .image_2 {
    bottom: 140px;
    right: 50px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: -70px;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: var(--navy);
      font-family: var(--switzer);
      text-transform: uppercase;
    }

    p {
      font-size: 1.2rem;
      color: var(--navy);
      font-family: var(--satoshi);
      max-width: 600px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;

    button,
    a {
      position: relative;
      font-family: var(--switzer);
      border: 1.5px solid #0a5235;
      padding: 15px 0px;
      width: 170px;
      border-radius: 100;
      text-transform: uppercase;
      font-weight: 600;
      color: #0a5235;

      &:nth-child(1) {
        background-color: var(--purple);
      }
      &:nth-child(2) {
        background-color: var(--yellow);
      }
    }

    button::after,
    a::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 5px;
      background-color: #0a5235;
      top: 8px;
      z-index: -1;
      border-radius: 100;
    }
  }
}

@keyframes buttonHover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    left: 0px;
    top: 0px;
  }
}
